{% extends 'layouts/index.twig' %}

{% block title %}Main Page{% endblock %}
{% block head %}
    <script src="https://cdn.bootcss.com/flv.js/1.5.0/flv.min.js" defer></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const streams = {{ activeStreamsJson }}
                let
            channels = []
            for (let item in streams) {
                channels.push[streams[item].streamPath]
                if (flvjs.isSupported()) {
                    console.log(streams[item])
                    let videoElement = document.getElementById(`stream-${streams[item].id}`);
                    let flvPlayer = flvjs.createPlayer({
                        type: 'flv',
                        url: `http://${location.hostname}:3000${streams[item].streamPath}.flv`,
                        audio: false
                    });
                    channels[streams[item].streamPath].isPlaying = false
                    channels[streams[item].streamPath].flvPlayer = flvPlayer
                    channels[streams[item].streamPath].flvPlayer.attachMediaElement(videoElement);
                    channels[streams[item].streamPath].flvPlayer.load();
                    videoElement.addEventListener('mouseenter', channels[streams[item].streamPath].flvPlayer.play().then(() => {
                        channels[streams[item].streamPath].isPlaying = true
                    }))
                    videoElement.addEventListener('mouseleave', () => {
                        if (channels[streams[item].streamPath].isPlaying) {
                            channels[streams[item].streamPath].flvPlayer.pause()
                        }
                    })
                }
            }
        })
    </script>
{% endblock %}
{% block body %}
        {% include 'partials/livechannels.twig' %}

    {#    {% for stream in activeStreams %} #}
    {#        <a href="/watch{{ stream.streamPath }}">Watch</a> #}
    {#        <video id="stream-{{ stream.id }}" muted="muted"></video> #}
    {#    {% endfor %} #}
{% endblock %}