{% extends 'layouts/index.twig' %}

{% block head %}
    <script>
        const roomId = "{{ roomId }}"
        const userId = "{% if user %}{{ user.id }}{% else %}0{% endif %}"
        const userName = "{% if user %}{{ user.username }}{% else %}Anon{% endif %}"
    </script>
    <script src="https://cdn.bootcss.com/flv.js/1.5.0/flv.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/script.js" defer></script>
    <style>
            .videobox {
                width: calc(100vh - 70px);
            }

        @media (min-width: 1280px) {
            .videobox {
                width: calc(100vw - 450px);
            }
        }
    </style>
{% endblock %}

{% block body %}
    <div class="videobox absolute left-[64px] xl:left-[220px]">
        <div class="p-2 md:p-8 flex items-start">
            <div class="relative overflow-hidden w-full pt-[56.25%]">
                <video class="absolute top-0 bottom-0 left-0 right-0 w-full h-full" id="videoElement"
                       controls="controls" autoplay="autoplay"></video>
            </div>
        </div>
    <div class="p-2 md:p-8 flex flex-row"><i class="fa-solid fa-eye text-red-600"></i><p class="watching"></p></div>
    </div>
    {% include 'partials/chat.twig' %}
{% endblock %}
